body{
    background-image: url(background.jpg);
    font-family: Arial, Helvetica, sans-serif;
}
div {
    background-color:ghostwhite;
    margin: 12px;
    border-radius: 25px;
    padding: 30px;
    font-size: 120%;
    border-style: solid;
    border-width: 3px;
    border-color: darkcyan;
}
main {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-auto-rows: 100px;
}
div.g1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    margin-bottom: 0px;
    border-radius: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    text-align: center;
    padding: 10px;
    font-size: 23px;
    border-bottom-style: none;
}
div.g2 {
    grid-row: 3 / 15;
    padding: 40px;
}
div.g5 {
    grid-column: 1 / 4;
    grid-row: 15 / 17;
    text-align: center;
}
div.g6 {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    margin-top: 0;
    border-radius: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align:center;
    border-top-style: none;
}
ul {
    list-style-type: none;
}
ul li {
    display: inline;
    margin-right: 50px;
}
a {
    font-weight: bold;
    color:darkcyan;
    text-decoration: none;
    cursor:default;
}
a:hover {
    position: relative;
    bottom: 5px;
}
#zdj {
    text-align: center;
}


@media(max-width: 800px){
    main {
        grid-template-columns: 1fr 1fr;
    }
    div.g1 {
        font-size: 20px;
    }
}